{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Account registration</h1>

      <form class="form" action="/PBC-registration-approval/08account-approval" method="post">



                <div class="govuk-form-group">
                  <label class="govuk-label" for="one-half">
                    Temporary Password ( this is the 9 digit password provided in the registration email)
                  </label>
                  <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text"></div>

<h3 class="govuk-heading-m">Create new log in details</h3>

                  <div class="govuk-form-group">
                    <label class="govuk-label" for="one-half">
                      Username
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text"></div>

                    <div class="govuk-form-group">
                      <label class="govuk-label" for="one-half">
                        New Password
                      </label>
                      <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text"></div>

                      <div class="govuk-form-group">
                        <label class="govuk-label" for="one-half">
                          Confirm Password
                        </label>
                        <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text"></div>




<button class="govuk-button" data-module="govuk-button">Save and Continue</button>


      </form>

    </div>
  </div>

{% endblock %}
