{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Please Select User Roles</h1>

      <form class="form" action="/PBC-registration//04account-registration-org-Details" method="post">

          <div id="waste-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Primary Business Contact
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Main representative of the organization, responsible for triggering the onboarding process of the organization ,adding other users and signing contracts.

        </div>
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Primary Technical Contact
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          The first point of contact for all technical issues.

        </div>
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Test Manager
        </label>
        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Responsible for creating test plans and test outputs, as well as obtaining approvals to proceed through various stages of the Compliance and Conformance testing.

        </div>
      </div>


<button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
